@font-face {
font-family:'Titillium Web';
src: url('fonts/TitilliumWeb-Regular.ttf');
} 
.vroot,.root{
    -fx-background-color:ghostwhite;
}




.tabmenu {
    -fx-background-color:rgb(250,250,250);
    -fx-tab-border-color:red;
}


.tabmenu .tab{

    -fx-font-size:12;
    -fx-border-color:transparent;
    -fx-border-width: 5;
    -fx-border-radius: 5 5 0 0;
    

}

.tabmenu .button{
    	-fx-font-size:10px;
        -fx-font-weight: Bold;
        -fx-text-fill: black;
        -fx-background-color:ghostwhite;
        -fx-border-color:rgba(0,0,0,.1);
        -fx-border-width: 1;
        -fx-border-style:solid;
}
.tabmenu .button:pressed{
    -fx-background-color:rgba(50,50,50,.3);
}

.undecorated{
    -fx-border-color: lightgray;
    -fx-border-width: 1.5;
}

.cabecera{
	-fx-background-color: linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),    linear-gradient(#020b02, #3a3a3a),    linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),    linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),    linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
}

.itemmenu{
	-fx-background-color:linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	-fx-text-fill:red;
}
/***** Botones ****/
.menubutton,.button{
	-fx-background-color:linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	-fx-text-fill:rgb(120,120,120);

	-fx-font-size:13;
	-fx-border-color:rgb(210,210,210);
	-fx-border-size:1;
}	
.menubutton:pressed, .button:pressed{
    -fx-background-color:linear-gradient(to bottom,rgba(221,221,221,1)  0%, rgba(245,245,245,1) 100%);
    -fx-border-color:rgb(190,190,190);
}
.menubutton:active{
	-fx-background-color:linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);

}

.menu-button .label{	
	
}

/* * * Login * * */
.rootpane

{
  -fx-background-color:ghostwhite;
  -fx-border-insets: 10;
  -fx-border-radius: 6;
  -fx-border-color:lightgray;
  -fx-border-style: solid;
  -fx-border-width: 1;
  //-fx-effect: dropshadow(three-pass-box, rgba(100, 100, 100, 1), 24, 0.5, 0, 0);

}
/***Gen pane****/
.radialBackground{

	//-fx-background-color:radial-gradient(center 50% 50%, radius 100%,  white 15%,white 25%, ghostwhite 45%, rgb(200,200,200) 100%);
}
.fonts{
	-fx-font-family: 'Helvetica', Arial, sans-serif;
}
.table-cell {
    -fx-alignment: CENTER;
}
